*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: inherit;
}

body {
    background-color: #26292B;
    font-family: 'futuraPT';
    font-weight: 400;
    color: #ECE6CE;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    display: flex;
}
.jcsb {
    justify-content: space-between;
}
.aic {
    align-items: center;
}
.aie {
    align-items: flex-end;
}

.header {
    padding-top: 50px;
}
.header__logo-left {
    font-family: 'Stolzl';
    font-size: 30px;
    line-height: 37px;
    color: #ECE6CE;
    padding-right: 17px;
    border-right: 1px solid #ECE6CE;
    margin-right: 20px;
}
.header__logo-right {
    font-size: 20px;
    line-height: 26px;
}
.header__phone {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}

.intro {
    padding-top: 6%;
    padding-bottom: 90px;
    background-image: url(../images/intro-img.png);
    background-repeat: no-repeat;
    background-position: right 85%;
}
.intro__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 69px;
    max-width: 630px;
}
.intro__subtitle {
    font-size: 40px;
    line-height: 51px;
    max-width: 630px;
    margin-bottom: 50px;
}
.intro__left {
    margin-right: 80px;
}
.intro__left-button {
    padding: 37px 55px;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    border: 1px solid #5F7ADB;
    border-radius: 15px;
    display: block;
    margin-bottom: 7px;
}
.intro__left-subtitle {
    font-size: 24px;
    line-height: 101.2%;
    text-align: center;
    width: 290px;
    margin: 0 auto;
}
.intro__left-subtitle span {
    font-weight: 700;
}

.intro__right {
    padding-top: 17px;
}
.intro__right-text {
    width: 365px;
    font-size: 24px;
    line-height: 102.2%;
    padding-left: 55px;
    position: relative;
}
.intro__right-text::before {
    content: '';
    width: 45px;
    height: 45px;
    display: block;
    background-image: url(../images/discount-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.about {
    padding: 35px 0;
    border-top: 1px solid #ECE6CE;
    border-bottom: 1px solid #ECE6CE;
}
.about__item-title {
    font-weight: 500;
    font-size: 96px;
    line-height: 77.7%;
}
.about__item-text {
    font-size: 24px;
    line-height: 95%;
}

.inform {
    padding: 70px 0 135px;
}
.inform__title {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 118.2%;
    margin-bottom: 30px;
}
.inform__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 27px;
}
.inform__item {
    background: #5F7ADB;
    border-radius: 26px;
    padding: 58px 26px 83px;
    text-align: center;
}
.inform__item_rotate {
    transform: rotate(6.26deg);
}
.inform__item-img {
    margin-bottom: 31px;
}
.inform__item-title {
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 30px;
    line-height: 118.2%;
}
.inform__item-descr {
    font-size: 23px;
    line-height: 118.2%;
    text-align: center;
}

.me {
    padding: 65px 0;
    background: #fff;
    background-image: url(../images/me-img.png);
    background-repeat: no-repeat;
    background-position: -2% 65%;
}
.me__wrapper {
    max-width: 747px;
    margin-left: auto;
}
.me__box {
    max-width: 747px;
    padding: 0 0 19px 31px;
    background: #A2B2EE;
    border-radius: 26px;
    color: #26292B;
    margin-bottom: 17px;
}
.me__box-title {
    font-weight: 500;
    font-size: 80px;
    line-height: 103px;
    margin-bottom: 3px;
}
.me__box-subtitle {
    font-size: 30px;
    line-height: 38px;
}
.me__descr {
    font-size: 35px;
    line-height: 45px;
    color: #000000;
    border-bottom: 1px solid #A2B2EE;
}
.me__descr_first {
    padding: 0 15px 30px;
}
.me__descr_second {
    padding: 30px 15px 13px;
    margin-bottom: 9px;
}
.me__link {
    font-size: 30px;
    line-height: 38px;
    text-decoration-line: underline;
    color: #5F7ADB;
}