*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: inherit;
}

body {
    background-color: #26292B;
    font-family: 'futuraPT';
    font-weight: 400;
    color: #ECE6CE;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    display: flex;
}
.jcsb {
    justify-content: space-between;
}
.aic {
    align-items: center;
}
.aie {
    align-items: flex-end;
}

.header {
    padding-top: 50px;
}
.header__logo-left {
    font-family: 'Stolzl';
    font-size: 30px;
    line-height: 37px;
    color: #ECE6CE;
    padding-right: 17px;
    border-right: 1px solid #ECE6CE;
    margin-right: 20px;
}
.header__logo-right {
    font-size: 20px;
    line-height: 26px;
}
.header__phone {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}

.intro {
    padding-top: 6%;
    padding-bottom: 90px;
    background-image: url(../images/intro-img.png);
    background-repeat: no-repeat;
    background-position: right 85%;
}
.intro__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 69px;
    max-width: 630px;
}
.intro__subtitle {
    font-size: 40px;
    line-height: 51px;
    max-width: 630px;
    margin-bottom: 50px;
}
.intro__left {
    margin-right: 80px;
}
.intro__left-button {
    padding: 37px 55px;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    border: 1px solid #5F7ADB;
    border-radius: 15px;
    display: block;
    margin-bottom: 7px;
}
.intro__left-subtitle {
    font-size: 24px;
    line-height: 101.2%;
    text-align: center;
    width: 290px;
    margin: 0 auto;
}
.intro__left-subtitle span {
    font-weight: 700;
}

.intro__right {
    padding-top: 17px;
}
.intro__right-text {
    width: 365px;
    font-size: 24px;
    line-height: 102.2%;
    padding-left: 55px;
    position: relative;
}
.intro__right-text::before {
    content: '';
    width: 45px;
    height: 45px;
    display: block;
    background-image: url(../images/discount-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.about {
    padding: 35px 0;
    border-top: 1px solid #ECE6CE;
    border-bottom: 1px solid #ECE6CE;
}
.about__item-title {
    font-weight: 500;
    font-size: 96px;
    line-height: 77.7%;
}
.about__item-text {
    font-size: 24px;
    line-height: 95%;
}

.inform {
    padding: 70px 0 135px;
}
.inform__title {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 118.2%;
    margin-bottom: 30px;
}
.inform__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 27px;
}
.inform__item {
    background: #5F7ADB;
    border-radius: 26px;
    padding: 58px 26px 83px;
    text-align: center;
}
.inform__item_rotate {
    transform: rotate(6.26deg);
}
.inform__item-img {
    margin-bottom: 31px;
}
.inform__item-title {
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 30px;
    line-height: 118.2%;
}
.inform__item-descr {
    font-size: 23px;
    line-height: 118.2%;
    text-align: center;
}

.me {
    padding: 65px 0;
    background: #fff;
    background-image: url(../images/me-img.png);
    background-repeat: no-repeat;
    background-position: -2% 65%;
}
.me__wrapper {
    max-width: 747px;
    margin-left: auto;
}
.me__box {
    max-width: 747px;
    padding: 0 0 19px 31px;
    background: #A2B2EE;
    border-radius: 26px;
    color: #26292B;
    margin-bottom: 17px;
}
.me__box-title {
    font-weight: 500;
    font-size: 80px;
    line-height: 103px;
    margin-bottom: 3px;
}
.me__box-subtitle {
    font-size: 30px;
    line-height: 38px;
}
.me__descr {
    font-size: 35px;
    line-height: 45px;
    color: #000000;
    border-bottom: 1px solid #A2B2EE;
}
.me__descr_first {
    padding: 0 15px 30px;
}
.me__descr_second {
    padding: 30px 15px 13px;
    margin-bottom: 9px;
}
.me__link {
    font-size: 30px;
    line-height: 38px;
    text-decoration-line: underline;
    color: #5F7ADB;
}
.custom-shape-divider-top-1662315327 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1662315327 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 48px;
}

.custom-shape-divider-top-1662315327 .shape-fill {
    fill: #FFFFFF;
}

.steps {
    padding-top: 57px;
    position: relative;
    padding-bottom: 100px;
}
.steps__title {
    font-weight: 500;
    font-size: 65px;
    line-height: 83px;
}
.steps__subtitle {
    font-size: 24px;
    line-height: 120.7%;
    width: 263px;
    margin-bottom: 80px;
}
.steps__items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 13px;
    margin-bottom: 20%;
}
.steps__item_odd,
.steps__item_even {
    position: relative;
    height: 200px;
    width: 140px;
}
.steps__item_odd .steps__item-text,
.steps__item_even .steps__item-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 106.2%;
    position: absolute;
    width: 152px;
    text-align: center;
}
.steps__item_odd .steps__item-text span,
.steps__item_even .steps__item-text span {
    font-weight: 500;
}
.steps__item_odd .steps__item-text::before {
    content: '';
    position: absolute;
    display: block;
    height: 90px;
    width: 1px;
    background-color:#ECE6CE;
    left: 45%;
    top: 130%;
    z-index: 4;
}
.steps__item_even .steps__item-text::before {
    content: '';
    position: absolute;
    display: block;
    height: 90px;
    width: 1px;
    background-color:#ECE6CE;
    left: 45%;
    top: -150%;
    z-index: -1;
}
.steps__item_odd .steps__item-text::after {
    content: '';
    position: absolute;
    padding: 5px 13px;
    font-size: 20px;
    line-height: 26px;
    color: #26292B;
    border-radius: 50%;
    background: #A2B2EE;
    bottom: -300%;
    left: 1%;
    z-index: 6;
}
.steps__item_even .steps__item-text::after {
    content: '';
    position: absolute;
    padding: 5px 13px;
    font-size: 20px;
    line-height: 26px;
    color: #26292B;
    border-radius: 50%;
    background: #A2B2EE;
    top: -100%;
    left: -12%;
    z-index: 6;
}
.steps__item_odd .steps__item-img,
.stepts__item_even .steps__item-img {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 2%;
}

.steps__item_first .steps__item-text::after {
    content: '1';
}
.steps__item_second .steps__item-text::after {
    content: '2';
}
.steps__item_thirth .steps__item-text::after {
    content: '3';
}
.steps__item_fourth .steps__item-text::after {
    content: '4';
}
.steps__item_fifth .steps__item-text::after {
    content: '5';
}
.steps__item_sixth .steps__item-text::after {
    content: '6';
    top: -140%;
}
.steps__item_sixth .steps__item-text::before {
    top: -220%;
}
.steps__item_seventh .steps__item-text::after {
    content: '7';
    bottom: -170%;
}
.steps__item_eigth .steps__item-text::after {
    content: '8';
    top: -145%;
}
.steps__item_eigth .steps__item-text::before {
    top: -215%;
}

.steps__button_wrapper {
    text-align: center;
    margin-bottom: 55px;
}
.steps__button {
    font-weight: 450;
    font-size: 30px;
    line-height: 25px;
    padding: 37px 55px;
    border: 1px solid #5F7ADB;
    border-radius: 15px;
}
.steps__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 101.2%;
    text-align: center;
}

.tarifs {
    padding-bottom: 165px;
}
.tarifs__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 50px;
    line-height: 118.2%;
    text-align: center;
}
.tarifs__subtitle {
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: #ECE6CE;
    max-width: 722px;
    margin: 0 auto 45px;
}
.tarifs__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 34px;
}
.tarifs__item {
    background: #A2B2EE;
    border-radius: 26px;
    text-align: center;
    padding: 50px 23px 37px;
}
.tarifs__item-title {
    font-weight: 450;
    font-size: 32px;
    line-height: 118.2%;
    color: #26292B;
    margin-bottom: 80px;
}
.tarifs__item-descr {
    font-size: 24px;
    line-height: 31px;
    color: #26292B;
    margin-bottom: 33px;
}
.tarifs__item-price {
    font-weight: 500;
    font-size: 32px;
    line-height: 118.2%;
    color: #26292B;
    margin-bottom: 64px;
}
.tarifs__item-button {
    padding: 23px 63px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    background: #5F7ADB;
    border-radius: 26px;
}

.services {
    padding-bottom: 60px;
}
.services__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 50px;
    line-height: 118.2%;
}
.services__subtitle {
    font-size: 24px;
    line-height: 120.7%;
    margin-bottom: 53px;
}
.container_services {
    max-width: 1240px;
    margin-left: auto;
}
.services__swiper {
    max-width: 1240px;
    margin-left: auto;
}
.services__item {
    padding: 35px 37px;
    background: #FFFFFF;
    border-radius: 26px;
    text-align: center;
    height: 256px;
    margin-bottom: 100px;
}
.services__item-img {
    margin-bottom: 17px;
}
.services__item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #26292B;
    width: 100px;
    margin: 0 auto;
}
.services__swiper-pagination .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: -42%;
}
.services__swiper-pagination .swiper-pagination-bullet {
    background-color: #A2B2EE;
    opacity: 1;
    width: 15px;
    height: 15px;
}
.services__swiper-pagination .swiper-pagination-bullet-active {
    width: 45px;
    height: 15px;
    background: #5F7ADB;
    border-radius: 15px;
}
.services__swiper-button-prev.swiper-button-prev {
    right: 27%;
    top: 88%;
    left: auto;
}
.services__swiper-button-next.swiper-button-next {
    right: 21%;
    top: 88%;
    left: auto;
}
.services__swiper-button-prev.swiper-button-prev,
.services__swiper-button-next.swiper-button-next {
    background: #5F7ADB;
    color: #26292B;
    padding: 30px;
    padding-right: 35px;
    border-radius: 50%;
    font-weight: 900;
}